/* specificity: 0 0 1*/
h1{
    color: black;
    border-bottom: thick double #32a1ce;
}

/* specificity: 0 0 1*/
h2{ 
    color: #FF4500;
}


/* specificity: 0 0 1*/
h3{
    color: blue;
}

/* specificity: 0 0 1*/
body {
    /* cssfontstack.com website maintains a list of web safe fonts available on Windows */
    font-family: Helvetica, serif;
    font-weight: bold;
    font-size: 25px;
    margin: 2px;
  
}

.about {

    display: flex;
    margin: 10px;   
    
    

     & section:first-child, section:last-child {
        padding: 30px;
        color: green;	
        flex: 1 0 min-content;
        overflow-y: scroll; 
           
        
       
                      
     }
    
    & section:first-child > .body-wrapper {
       display: flex;
       flex-direction: column;
       
       
   }

     section + section:not(:first-child):not(:last-child) {
               flex: 0 0 65%; 

               
    }


}

a {

  &:link {
     color: black;
     
    
  }

  &:visited {
    text-decoration: none;
    
  }

  &:hover {
    text-decoration: none;
    color: black;
  }

}

/* specificity: 0 0 2*/
nav ul{
     display: flex;
     flex-grow: 1;
     justify-content: space-between;
     background-color: white;
     padding: 32px;
     margin: 0;
     border: 1px solid black; 
     border-radius: 5px; 

/* specificity: 0 0 3*/
  & li{
     display: inline-block;   
     
  }

}

/* specificity: 0 1 2*/

nav li:first-child{ 
     margin-left: 28px;     
}

nav li:last-child{ 
     margin-right: 28px;     
}

/*
#Education {
 background-image: url("education/images/fiu-campus.jpg");
 background-size: 100%;
}
*/

.education-page .fiu {  
    


    & h2 {
     text-align: center;
   }
    
    & figure {
     margin: 0;
     padding: 150px;
     background-color: rgba(218, 177, 94, 0.85);      
     
      & img {    
        display: flex;
        margin: auto;
      }
    }

    & .inline-container {
      display: inline-flex; 
      

      & div {

      /*box-sizing: border-box;*/
      
      width: 45vw;
      height: 45vh;
      /*https://pickcoloronline.com*/
      border: #002d62 solid 2px;
      border-radius: 1.4em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin: 20px;
      overflow-y: scroll;

     
     
      /* used https://cssgradient.io/ */
      background: rgb(218,177,94);
      background: linear-gradient(90deg, rgba(218,177,94,0.85) 15%, rgba(2,0,36,0) 54%, rgba(0,212,255,0.500437675070028) 92%);
      
        & > h3 {
         text-align: center;
       }

        & > ul {
        
        margin-left: 30px;
        }
      }


       & .gpa-box{
       display: flex;
       
       & .gpa{
         
         margin: auto;
       }
     }
   }

     & .block-container {
       display: block;
     }        
}

form {
        
     display: flex;
     flex-direction: column;
     align-items: center;
     

    & fieldset {

      margin: 1em;
      background-color: rgba(173, 216, 230, 0.5); 
      border: 5px double blue; 
      width: 450px;
      height: 285px;
      
      

    & legend {
       background-color: white;
       border: 2px solid blue;
       padding: 5px;
       color: red;
    }

   }
}



.about-me-head
    text-align: center;
      
}



/*
~ .body-wrapper {
    
    margin-top: 20px;

   & .pp {
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
   }

}

}
*/


/*centers profile pic in about-me*/

button {
  transition: all 0.3s ease;

  &:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

}


.currentpage {
    color: #E83250;
    
}


span{
    color:red;
}







