/* specificity: 0 0 1*/
h1{
    color: black;
    border-bottom: thick double #32a1ce;
}

/* specificity: 0 0 1*/
h2{ 
    color: #FF4500;
}


/* specificity: 0 0 1*/
h3{
    color: blue;
}

/* specificity: 0 0 1*/
body {
    font-family: Helvetica, serif;
    font-weight: bold;
    font-size: 25px;
    padding: 0;
  
}

/* specificity: 0 0 2*/
nav ul{
     display: flex;
     justify-content: space-between;
     background-color: rgba(173, 216, 230, 0.5);
     padding: 32px;
     margin: 0;
     border: 1px solid black;

/* specificity: 0 0 3*/
  & li{
     display: inline-block;   
     
  }

}

/* specificity: 0 1 2*/

nav li:first-child{ 
     margin-left: 28px;     
}

nav li:last-child{ 
     margin-right: 28px;     
}

/*
#Education {
 background-image: url("education/images/fiu-campus.jpg");
 background-size: 100%;
}
*/

.education-page .fiu {  

    & h2 {
     text-align: center;
   }
    
    & figure {
     margin: 0;
     padding: 150px;
     background-color: rgba(218, 177, 94, 0.85);      
     
      & img {    
        display: flex;
        margin: auto;
      }
    }

    & .inline-container {
      display: inline-flex; 

      & div {

      /*box-sizing: border-box;*/
      
      width: 45vw;
      height: 45vh;
      border: solid 2px;
      margin: 20px;
     
      /*background-image: linear-gradient(
    90deg,
    rgb(119 0 255 / 39%),
    rgb(0 212 255 / 100%)
);*/

      
        & > h3 {
         text-align: center;
       }

        & > ul {
        
        margin-left: 30px;
        }
      }


       & .gpa-box{
       display: flex;
       
       & .gpa{
         border: solid 2px;
         margin: auto;
       }
     }
   }

     & .block-container {
       display: block;
     }        
}

.contact-info {
     width: 325px;
     height: 180px;
     font-size: 18px;
     background-color: rgba(173, 216, 230, 0.5);
     border: 5px double blue;
     padding: 0px 10px;
}

.about-me-head {
    text-align: center;

~ .body-wrapper {
    text-align: center;
    margin-top: 20px;

   & .pp {
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
   }

}

}


/*centers profile pic in about-me*/

button {
  transition: all 0.3s ease;

  &:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

}


.currentpage {
    color: #E83250;
    
}


span{
    color:red;
}

a {
  &:visited {
    text-decoration: none;
    color: green;
  }

  &:hover {
    text-decoration: none;
    color: black;
  }

}



